* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Cores*/
  --branco : #FFFFFF;
  --cinza-claro: #A4A3A4;
  --cinza-escuro: #3C3C3D;
  --verde-claro: #EFFFFA;
  --azul-claro: #E5ECF4;
  --lilas: #C3BEF7;
  --roxo: #8A4FFF;

  /*Fontes*/
  --font-base: 'Poppins', sans-serif;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
}

body {
  margin: 0;
  background-color: var(--azul-claro);
}

